---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Bonnita Glam Makeup | Categorias">
  <h1>Categorias</h1>
  <div id="categorias" class="py-5 px-2 scroll-m-80 md:scroll-m-20">
    
  </div>
</Layout>

<script>
    document.addEventListener("astro:page-load", () => {
        const urlSlug = new URL(window.location.href);
        const urlApi = "https://admin.bonnitaglammakeup.com.ar";
        const category = urlSlug.searchParams.get("name");

         fetch(`${urlApi}/api/categories/${category}`)
            .then((response) => response.json())
            .then((data) => {
                const category = data.data;
                document.title = `${category.name} | Bonnita Glam Makeup`;
                document.querySelector("h1").innerHTML = category.name;
            })
            .catch((error) => {
                console.error("Error al obtener la categoría:", error);
            }); 
        console.log(category);
    });
</script>