---
import InfoIcon from "@components/resources/icons/InfoIcon.astro";
import Layout from "@layouts/Layout.astro";
import WishList from "@components/WishList.astro";
import SendWishList from "@components/SendWishList.astro";
import ConfirmWishList from "@components/ConfirmWishList.astro";
import ShareIcon from "@components/resources/icons/ShareIcon.astro";


---

<Layout title="Enviar pedido | Bonnita Glam MakeUp">
  <section class="p-2 grid gap-3 md:grid-cols-5 text-gray-800">
    <header class="flex flex-col gap-3 md:col-span-full">
      <h2 class="font-bold text-2xl dark:text-secondary ">Tu pedido</h2>
      <div
        class="text-pretty p-4 text-sm bg-secondary/60 dark:bg-rose-200/80 rounded-lg flex items-center justify-between shadow"
      >
        <p class="">
          Puedes enviar tu pedido con el formulario de "Enviar pedido" al final de esta página, o enviarnoslo por donde desees con el botón compartir. <ShareIcon className="text-primary inline-block border rounded mb-1 size-6 p-0.5" />
        </p>
        <InfoIcon className="text-primary size-7 min-w-6" />
      </div>
    </header>
    <main
      class="bg-secondary/60 dark:bg-rose-200/80 rounded-lg p-4 pb-3 flex flex-col gap-1 w-full shadow md:col-span-3 h-fit"
    >
      <WishList/>
    </main>
    <aside
      class=" flex flex-col gap-3 items-center md:col-span-2 overflow-hidden"
    >
      <SendWishList/>
      <ConfirmWishList/>
    </aside>
  </section>
</Layout>
