---
import ButtonPrimary from "@components/resources/ButtonPrimary.astro";
import ButtonSecondary from "@components/resources/ButtonSecondary.astro";
import ArrowR from "./resources/icons/ArrowRIcon.astro";

---

<section id="inicio" class="p-2 pt-3 min-h-dvh md:items-center gap-8 scroll-m-80 md:scroll-m-28 grid md:grid-cols-2 dark:text-secondary">
  <article class="flex flex-col gap-4 xl:translate-x-14 2xl:translate-x-24">
    <h1 class="text-4xl sm:text-4xl lg:text-5xl 2xl:text-6xl font-bold text-nowrap">
      Bienvenida <br /> a <span class="text-primary dark:text-rose-200"
        >Bonnita</span
      >
    </h1>

    <p class="text-base lg:text-lg 2xl:text-xl ">
      Crea tu pedido con tus productos favoritos y
      contactanos para confirmar el pedido. Escribenos por <a
        href="#"
        class="font-semibold">correo</a
      > o por <a href="#" class="font-semibold">whatsapp</a>.
    </p>

    <div class="flex flex-col md:flex-row gap-3 w-full">
      <ButtonPrimary href="/categories" text="Armar pedido" class="w-full">
        <ArrowR className="ml-0.5 -mr-2"/>
      </ButtonPrimary>
      <ButtonSecondary href="#contacto" text="Contactanos" />
    </div>
  </article>
  <article class="">

  </article>
</section>
